<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Project Yello | JUET, Guna</title>
        <link href='favi.ico' rel='icon' type='image/x-icon'/>
        <link href='http://projectyello.appspot.com/' rel='canonical'/>
        <link href="https://google.com/+YashRajSingh" rel="publisher"/>
        <!-- Mega-Maximum Meta Tags For SEO -->
        <meta content='global' name='distribution'/>
        <meta content='7 days' name='revisit'/>
        <meta content='7 days' name='revisit-after'/>
        <meta content='documents' name='resource-type'/>
        <meta content='all' name='audience'/>
        <meta content='general' name='rating'/>
        <meta content='all' name='robots'/>
        <meta content='index, follow' name='robots'/>
        <meta content='Yash Raj Singh' name='author'/>
        <meta content='http://projectyello.appspot.com/' property='og:url'/>
        <meta content='Project Yello' property='og:site_name'/>
        <meta content='en' name='language'/>
        <meta content='IN' name='country'/>
        <meta content='28.35,79.4167' name='ICBM'/>
        <meta content='Project Yello' name='DC.title'/>
        <meta content='0;115' name='geo.position'/>
        <meta content='IN' name='geo.region'/>
        <meta content='India' name='geo.placename'/>
        <meta content='Copyright 2013-2014 by Yash Raj Singh and Jaypee University of Engineering and Technology, Guna. All Rights Reserved.' name='copyright'/>
        <meta content='projectyello, projects, project yello, juet, juet guna, guna, jaypee, webapp, jiit, juit, jiet, noida, jaypee university' name='keywords'/>
        <meta content='The web app for Jaypee University of engineering and Technology, Guna you&#39;ll love to use' name='description'/>
        <!-- end of Mega-Maximum Meta Tags For SEO -->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/base.css">
</head>
<body>

{% block body %}

{% endblock %}


<script src="/js/asyncLoader.min.js"></script>
<script>
    asyncLoader(
        [
            '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js',
            '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js',
            '/js/main.js',
        ],
        {
            'callback':function() {
                $('body').fadeIn(500);
            }
        }
    );
</script>
</body>
</html>