{% extends "layout.html" %}
{% block body %}

<div class="row anti">

    {% include "sidebar.html" %}

    <div class="col-md-10 largebar">

        <h1 style="width: 175px;display: inline-block;">#search</h1>

        <form class="form-search">
            <form action="/search" method="get" class="form-inline">
                <input name="query" class="form-control" onkeypress="return entsub(event,this.form)" required placeholder="search" style="width:60%;">
              </form>
        </form>

        {% include "list.html" %}

    </div>
</div>

{% endblock %}