{% extends "layout.html" %}
{% block body %}

<div class="row anti">

    {% include "sidebar.html" %}

    <div class="col-md-10 largebar">

         <div class="loginwarning">
            <p class="alert-danger" style="padding: 15px;">You have to be <b>logged in</b> to vote. </p>
        </div>

        <table class="tidbits table">
          {% for quote in quotes %}
          <tr class="tidbit id">

            <td class="index"><a href="/post/{{ quote.id }}"><span class="quoteid">{{ quote.id }}</span>{{ quote.index }}.</a></td>

            <td class="vote">
                {% if quote.voted==1 %}
                  <img src="/images/up-clicked.png" class="voteup" data-toggle="tooltip" title="voted"/>
                {% else %}
                  <img src="/images/up.png" class="voteup" data-toggle="tooltip" title="upvote"/>
                {% endif %}
            </td>

            <td class="quote">
                {% if quote.uri %}
                  <a href="{{ quote.uri|escape }}" class="{{ quote.id|escape }}">{{ quote.title }}</a><br>
                {% else %}
                  <span class="{{ quote.id }}" style="font-weight: bold;font-size:14px;color:#2E7C8B;">{{ quote.title|safe }}</span> <br>
                {% endif %}
                <div class="meta">
                    {{ quote.votesum }} votes | posted by {% if quote.creator_anonymous == true %}Anonymous{% else %}{{ quote.creator.get().email|nickname }}{% endif %} {{ quote.made_on|timesince }} | {{quote.comments}} comments
                </div>
                <div class="text">
                    <blockquote><p>{{ quote.quote }}</p></blockquote>
                </div>
            </td>

            <td class="image">
                {% if quote.image %}
                     <a href="{{ images(quote.image, 0) }}" class="fancybox" rel="group" title="{{ quote.title }}"><img src="{{ images(quote.image , 150) }}" class="picture_post_single"/></a>
                {% endif %}
            </td>

            <td class="del">
            {% if quote.creator==user.key %}
                <form action="/post/{{ quote.id }}" method="post">
                 <input type="hidden" name="_method" value="delete" />
                 <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                </form>
            {% endif %}
            <p class="meta">created: {{ quote.created }}</p>
            </td>

          </tr>
          {% endfor %}
        </table>

        {% if comments %}
      <div class="comments">
          {% for comment in comments %}
            <div class="comment">
                {% if comment.author==user.key %}
                    <form action="/del_comment/{{ comment.key.id() }}" method="post" class="cmt-del">
                     <input type="hidden" name="_method" value="delete" />
                     <input type="hidden" name="quoteid" value="{{ quote_id }}"/>
                     <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                    </form>
                {% endif %}

                <p class="meta"> {% if comment.author_anonymous == true %}Anonymous{% else %}@{{ comment.author.get().email|nickname }}{% endif %} {{ comment.made_on|timesince }} </p>
                <p>{{ comment.text }}</p>
            </div>
          {% endfor %}
      </div>
        {% endif %}

      {% if logged_in %}
      <div class="add_comment">
      {% for quote in quotes %}
        <form action="/add_comment" method="post">
          <div style="margin-bottom:5px;">
              <textarea style="width: 50%" name="comment" class="form-control input-block-level" placeholder="add comment" rows="5"></textarea>
          </div>
          <div>
              <input type="hidden" name="quoteid" value="{{ quote.id }}" />
              <input type="checkbox" name="anon" checked data-toggle="toggle" data-on="{{ user.email|nickname }}" data-off="Anonymous" data-width="125" data-onstyle="success" data-offstyle="warning">
              <input type="submit" class="btn btn-large btn-primary" value="comment">
          </div>
        </form>
      {% endfor %}
      {% endif %}

      </div>

    </div>
</div>

{% endblock %}