{% extends "layout.html" %}
{% block body %}

<div class="row anti">

    {% include "sidebar.html" %}

    <div class="col-md-10 largebar">

        <h1 style="width: 175px;display: inline-block;">#submit</h1>
        {% if logged_in %}
        <p class="text-muted">Leave URL blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the comments page. If there is a url, the text will be ignored.</p>

        <div class="submit" style="max-width:650px; background:none;margin-left:0;padding-left:0;">
              <form action="/" method="post" id="submit-form" enctype="multipart/form-data">
                <div style="margin-bottom:5px;"><input name="title" class="form-control input-sm" required type="text" placeholder="title" required></div>
                <div style="margin-bottom:5px;"><textarea name="quote" class="form-control input-block-level" placeholder="text" rows="5"></textarea></div>
                <div style="margin-bottom:5px;"><input name="url" class="form-control input-sm" type="text" placeholder="url"></div>
                <div style="margin-bottom:5px;float:right;"><input type="file" accept="image/*" id="files" name="image" class="logo-input"/></div>
                <div>
                    <input type="checkbox" name="anon" checked data-toggle="toggle" data-on="{{ user.email|nickname }}" data-off="Anonymous" data-width="125" data-onstyle="success" data-offstyle="warning">
                    <input type="submit" class="btn btn-large btn-primary" value="Post">
                </div>
              </form>
        </div>
        {% else %}
            <p class="bg-danger" style="padding:15px;">You must <b>login</b> before you can post.</p>
        {% endif %}

    </div>
</div>
{% if logged_in %}
    <script>
    $("#files").change(function() {
      $("#submit-form").attr("action", "{{ upload_url }}");
    });
    </script>
{% endif %}
{% endblock %}